:root{ 
    --cor_titulo:rgb(240, 184, 184);
    --cor_fundo:rgb(245, 236, 236);
    --cor_button:rgb(216, 211, 211);
}
body{
    background-color: rgb(240, 184, 184);
    background-color: var(--cor_fundo);
}
body:hover{
    color: white;
}
section{
    text-align: center;
    height: 600px;
    margin: 40px;
    border: solid rgb(250, 239, 239)
}
h1{
    --cor_titulo: var(--cor_titulo);
    text-align: center;
}
button{
    padding: 9px;
    border-radius: 9px;
    margin: 24px;
}
